.content-container {
  width: 100%;
}

.page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.calendar-page {
  flex-direction: column !important;
}

.copy {
  margin: auto;
  width: 46%
}

.copy p {
  margin-left: 3rem;
  text-align: justify;
  line-height: 1.5;
}

.image-strip {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  margin: 2rem;
}

.image-container img {
  object-fit: cover;
  height: 200px;
  width: 275px;
}

.image-caption {
  width: 200px;
  margin: auto;
}
