.content-container {
  width: 100%;
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.calendar-page {
  flex-direction: column !important;
  width: 60%;
}

.copy {
  margin: auto;
  width: 46%
}

.copy p {
  margin-bottom: 1rem;
  margin-left: 3rem;
  text-align: justify;
  line-height: 1.5;
}

.image-strip {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  margin: 2rem;
}

.image-container img {
  object-fit: cover;
  width: 300px;
}

.image-caption {
  padding-top: 1rem;
  width: 250px;
  margin: auto;
  color: #aaa;
  text-decoration: italic;
}
