.layout-container {
  display: flex;
  width: 100%;
}

.photo-circle-container {
  display: flex;
  flex-grow: 1.5;
  justify-content: center;
}

.menu-container {
  flex-grow: 1;
}

.photo-circle {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-circle-photo {
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
  border: 2px solid black;
  max-width: 400px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  flex-direction: column;
}

.menu-item {
  flex-grow: 1;
  display: inline-block;
  width: 80%;
  border-radius: 25px;
  border: 2px solid #83d2d5;
  overflow: hidden;
  margin: 3px;
  height: 3rem;
}

.menu-item:hover {
  background-color: #66a4a6;
}

.open {
  flex-grow: 1;
  display: inline-block;
  width: 80%;
  border-radius: 25px;
  border: 2px solid #83d2d5;
  overflow: hidden;
  margin: 3px;
  height: 33vh;
}
