.calendar-page ul {
  list-style: none;
}

.rbc-row {
  min-height: 4rem;
}

.rbc-event {
  background-color: red !important;
}

.rbc-current {
  background-color: rgba(255, 0, 0, 0.4);
}

.event-contact {
  font-style: italic;
  color: #aaa;
}

.event-contact a:link {
  color: #888;
}
