.header img {
  height: 20vh;
}

.header p {
  margin: auto;
  margin-top: 0;
}

.header {
  background-color: #ed1c24;
  margin-bottom: 4rem;
}

.header-logo {
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.menu a {
  text-decoration: none;
}

.menu-item {
}
