.news-page ul {
  list-style: none;
  width: 60%;
  margin-left: 15%;
}

.news-li {
  margin-bottom: 3rem;
}

.news-item {
  display: flex;
}

.news-item img {
  margin-top: 1rem;
  margin-left: 1rem;
  max-width: 320px;
  max-height: 260px;
  width: auto;
  height: auto;
}
