.post-card:hover {
  background-color: rgba(236,31,39,0.5);
}

.post-card a:hover {
  text-decoration: none;
  color: black;
}
.post-card-title {
  font-size: 1.5rem;
  font-family: "KlimaM";
  padding-bottom: 0 !important;
}

.post-card-date {
}
